@import '@/styles/utils/vars';
@import '@/styles/utils/mixins';

.buttons {
  display: flex;
}

.button {
  &_left {
    border-radius: $box_rounded_left;
  }

  &_right {
    border-radius: $box_rounded_right;
  }

  &_active {
    background: $color_blue;
  }
}
