@mixin flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex_between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex_end {
  display: flex;
  justify-content: end;
  align-items: center;
}

@mixin tab {
  transform: translateY(1px);
  display: block;
  color: $color_gray_light;
  background-color: $color_secondary;
  border: 1px solid $color_gray;
  border-radius: $box_rounded_top;

  &_active {
    color: $color_main;
    border-bottom: none;
  }

  &_blue {
    background: $color_blue_light;
  }
}
