@import '@/styles/utils/vars';
@import '@/styles/utils/mixins';

.form {
  position: relative;
  display: flex;
  
  &__input {
    height: $form_item_size;
    padding: 0 8px;
    border: 1px solid $color_gray;
    border-radius: $box_rounded_left;

    &:focus {
      outline: none;
    }
    
    &::placeholder {
      transition: all $transition_behavior;
    }

    &:focus.form__input::placeholder,
    &:hover.form__input::placeholder {
      color: $color_gray;
    }

    &::placeholder {
      color: $color_gray_light;
    }
  }

  &__inputDropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 5;

    
    padding: 8px;
    background: $color_secondary;
    border: 1px solid $color_gray;
    border-radius: $box_rounded;
    box-shadow: $box_shadow;
  }

  &__inputDropdownItem {
    padding: 12px 0;
    border-bottom: 1px dashed $color_gray;

    cursor: pointer;

    &:last-of-type {
      margin-bottom: 0;
      border-bottom: none;
    }
  }

  .form__button {
    width: 44px;
    border-radius: $box_rounded_right;
  }
}
